* {
  --back-color: white;
  --text-color: black;
  --prhase-back-color: black;
  --prhase-text-color: white;
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  width: 95vw;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-rows: 0.1fr 2fr;
}

a {
  color: var(--text-color);
}

a:visited{
  color: var(--text-color);
}

.main-title {
  text-decoration: underline;
}

.main-title h1 span{
  margin-left: 1rem;
  font-size: 1.8rem;
}

#old-sentences li {
  list-style: none;
}

#text {
  width: 100%;
}

#text p {
  font-size: 3rem;
}

#actions {
  display: grid;
  margin: auto;
  grid-gap: 0.5rem;
}

#actions input {
  width: 100%;
}

@media screen and (max-width: 300px) {
  #actions {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  #actions {
    width: 40vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

