* {
  --back-color: white;
  --text-color: black;
  --prhase-back-color: black;
  --prhase-text-color: white;
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
}

.main-title h1 {
  text-decoration: underline;
}

main {
  width: 95vw;
  margin: auto;
  text-align: center;
}

button{
  background-color: var(--back-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  margin: 0.1em;
}

.text-container{
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  width:100%;
}

.text-container li{
  display: inline-flex;
  border-radius: 5px;
  align-items: center;
  margin: 1em;
  background-color: lightseagreen;
}

.buttons {
  display: grid;
  row-gap: 0.2em;
  margin: 0.2em;
}

.btn-change {
  background-color: lightblue;
}

.btn-remove {
  background-color: lightcoral;
}

.btn-add {
  background-color: lightskyblue;
}

.text-container li p{
  margin: 1em;
}
