extends layout

block main
  section#text
    header
      h1 Current sentence
    p#stuff
  section#actions
    button(id="add", class=["nascosto"]) Add a new word!
    button(id="change", class=["nascosto"]) Change the last word!
    button(id="remove", class=["nascosto"]) Remove the last word!
  section#info
    p Words are from #[a(href="https://github.com/napolux/paroleitaliane/blob/master/paroleitaliane/110000_parole_italiane_con_nomi_propri.txt") napolux's paroleitaliane project].

block scripts
  script(src="/static/js/main.js")
